body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #000000 5%, #010A10 30%, #59230B 75%, #2F1107 100%);
}

h1 {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 3.5em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: -3px;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

canvas {
  position: absolute;
}

#title {
  pointer-events: none;
  margin-right: 95px;
  font-size: 1.64em;
}

#header {
  pointer-events: none;
  position: relative;
  height: 100vh;
  width: 490px;
  margin: 25vh 10vw 340px auto;
}

#scroll-btn {
  pointer-events: visibleFill;
  display: block;
  width: 50px;
  height: 50px;
  margin: 20px 260px 0 auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background: url('./images/arrow.png');
  background-size: cover;
  outline: none;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#scroll-btn:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 1));
}

#name {
  pointer-events: none;
  z-index: 1;
  padding: 25px 60px 25px 25px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: #ededed;
}

#name h1 {
  color: #0a0a0a;
  text-shadow:
    1px 1px #61b4de,
    2px 2px #91c467,
    3px 3px #f3a14b,
    4px 4px #e84c50,
    5px 5px #4e5965;
  transition: 0.5s all linear;
  text-transform: uppercase;
  -webkit-animation-name: name; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: name;
  animation-duration: 12s;
}


/* Standard syntax */
@keyframes name {
    0%   {
      color: #ededed;
      text-shadow:
        1px 1px #61b4de, 2px 2px #61b4de,
        3px 3px #91c467, 4px 4px #91c467,
        5px 5px #f3a14b, 6px 6px #f3a14b,
        7px 7px #e84c50, 8px 8px #e84c50,
        9px 9px #4e5965, 10px 10px #4e5965;
    }
    100% {
      color: #0a0a0a;
      text-shadow:
        1px 1px #61b4de,
        2px 2px #91c467,
        3px 3px #f3a14b,
        4px 4px #e84c50,
        5px 5px #4e5965;
    }
}

#period {
  text-shadow: none;
  margin: 0 -1px 0 5px;
  -webkit-animation: color-change 2s infinite;
  -moz-animation: color-change 2s infinite;
  -o-animation: color-change 2s infinite;
  -ms-animation: color-change 2s infinite;
  animation: color-change 2s infinite;
}

@-webkit-keyframes color-change {
  0% { color: #870611; }
  50% { color: #bb0715; }
  100% { color: #870611; }
}

@-moz-keyframes color-change {
  0% { color: #870611; }
  50% { color: #bb0715; }
  100% { color: #870611; }
}

@-ms-keyframes color-change {
  0% { color: #870611; }
  50% { color: #bb0715; }
  100% { color: #870611; }
}

@-o-keyframes color-change {
  0% { color: #870611; }
  50% { color: #bb0715; }
  100% { color: #870611; }
}

@keyframes color-change {
  0% { color: #870611; }
  50% { color: #bb0715; }
  100% { color: #870611; }
}

@keyframes rubberBand {
  0% {transform: scale(1); color: black;}
  30% {transform: scaleX(1.25) scaleY(0.75);}
  40% {transform: scaleX(0.75) scaleY(1.25);}
  60% {transform: scaleX(1.15) scaleY(0.85);}
  100% {transform: scale(1); color: white;}
}
.rubberBand {
  animation-name: rubberBand;
  animation: rubberBand 6s;
}

.App {
  color: #18261d;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1000px;
  margin: 0 200px auto auto;
}

.App .landing-trees {
  pointer-events: none;
  width: 100%;
  position: absolute;
  bottom: -40px;
}

.link-container {
  display: flex;
  justify-content: space-around;
}

.link-container a img {
  margin-top: 20px;
  width: 95px;
  height: 50px;
  border-radius: 10px;
  border: 4px solid #000;
}

.link-container a img:hover {
  border: 4px solid #fff;
  transition: all .5s;
  transform: scale(.95);
}

@media (max-width: 830px) {
  #header {
    margin: 30vh 5vw 260px auto;
  }
}

@media (max-width: 600px) {
  #header {
    margin: 20vh auto 350px auto;
  }

  #title {
    margin: 0;
    text-align: center;
  }

  #scroll-btn {
    margin: 20px auto 0 auto;
  }

  #name {
    padding: 25px;
  }
}

@media (max-width: 490px) {
  #name {
    padding: 0;
    text-align: center;
  }

  #header {
    width: 100%;
    margin-bottom: 400px;
  }
}
@media (max-width: 430px) {
  h1 {
    font-size: 3em;
  }

  #title {
    font-size: 1.4em;
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 2.7em;
  }

  #title {
    font-size: 1.4em;
  }

  #header {
    margin-top: 5vh;
    margin-bottom: 84vh;
  }

  .App {
    height: 100vh;
    position: relative;
  }

  #scroll-btn {
    position: absolute;
    bottom: 10px;
    left: 42%;
  }
}
